.expense-list,
.expense-form {
  margin: 50px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  padding: 10px;
}

.expense-list {
  & .main {
    width: 100%;

    & h3 {
      text-decoration: underline;
      font-size: 16px;
      color: rgb(5, 0, 162);
    }
  }

  & .item {
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;

    & .details {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 700;

      & .description {
        border-right: 1px solid black;
        width: 80%;
      }

      & .price {
        font-size: 16px;
        color: rgb(214, 0, 0);
      }
    }

    & .person {
      font-weight: 500;
      font-size: 14px;
      color: grey;
    }

    & .date {
      display: flex;
      justify-content: space-between;

      & span {
        margin-top: 10px;
        border-top: 1px solid grey;
        font-size: 12px;
        color: rgb(0, 6, 116);
      }

      & button {
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
        font-size: 15px;
        color: green;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  & .total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgb(162, 162, 162);

    & p:last-child {
      color: green;
    }
  }
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & h3 {
    text-decoration: underline;
    margin-bottom: 10px;
  }



  & input {
    width: 300px;
    padding: 8px 0 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  & .btn-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    & button {
      padding: 8px 15px;
      background-color: #4caf5c;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: 200ms;

      &:hover {
        background-color: #27a22b;
      }

      &:last-child {
        background-color: #f44336;

        &:hover {
          background-color: #e53935;
        }
      }
    }
  }
}

.expense-form {
  padding: 30px;

  & h2 {
    text-decoration: underline;
    margin-bottom: 10px;
  }

  & form {
    width: 50%;

    & input,
    select {
      width: 100%;
      background-color: white;
      color: black;
      border: none;
      outline: none;
      padding: 8px;
      margin: 10px 0;
    }

    & input::placeholder {
      color: rgb(181, 181, 181);
    }

    & input[type="text"] {
      width: 100%;
    }

    & input[type="number"] {
      width: 50%;
      text-align: center;
    }

    & .group {
      margin: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      & select {
        width: 100px;
      }
    }

    & button {
      padding: 10px;
      background-color: #4caf50;
      color: white;
      font-weight: 700;
      border: none;
      cursor: pointer;
      transition: 300ms;

      &:hover {
        border-radius: 50px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .expense-list {
    width: 85%;

    & .total {
      font-size: 18px;
      margin-top: 20px;
      padding-top: 10px;

      & p:last-child {
        color: green;
      }
    }
  }

  .expense-form form {
    width: 100%;

    & input[type="text"],
    & input[type="number"],
    & select,
    & button {
      width: 300px;
      padding: 15px 0;
      text-align: center;
      font-size: 16px;
    }

    & button {
      margin-top: 10px;
    }
  }
  .expense-form .group {
    flex-direction: column;
  }
}
