.password-reset {
  padding: 50px;
}

.password-reset form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.password-reset form h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}

.password-reset form p {
  font-size: 18px;
  margin-bottom: 15px;
}

.password-reset form .input-fields {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.password-reset form .input-fields {
  & input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid;
  }

  & input[type="email"] {
    width: 60%;
  }
  & input[type="submit"] {
    width: 20%;
    background-color: rgba(0, 128, 0, 0.525);
    border: 1px solid green;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 200ms;
    
    &:hover {
        background-color: rgba(0, 128, 0, 0.675);
    }

    &:active {
        transform: scale(0.95);
    }
  }
}
