.my-users {
  padding: 20px;
  display: flex;
}

.my-users h2 {
  text-decoration: underline;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.add-person-section {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-person-section form {
  margin: 0 20px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-bottom: 1px solid grey;
  align-items: center;
  justify-content: center;
}

.add-person-section form input {
  padding: 8px 15px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  min-width: fit-content;
  background-color: transparent;
  border: 1px solid grey;
}

.add-person-section form input[type="submit"] {
  width: fit-content;
  border: none;
  cursor: pointer;
  border: 1px solid grey;
  background-color: rgb(14, 37, 189);
  color: white;
  border-radius: 10px;
  transition: 200ms ease;

  &:active {
    transform: scale(0.9);
  }
}

/* People list */

.people-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.people-section h3 {
  text-decoration: underline;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}

.people-section p {
  margin: 5px;
  text-align: center;
  color: red;
}

.people-section p span {
  font-size: 12px;
}

.people-section p button {
  font-size: 12px;
}

.people-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  width: 60%;
}

.people-section .people-list .list-headings {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(173, 173, 173);
  color: black;
}


.people-list li {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 170);
  
  & .list-style {
    width: 5%;
  }
  & .person-name {
    width: 65%;
  }
  & .total-expenses {
    width: 20%;
  }
  & .delete-button {
    width: 10%;
  }
}

.people-list li {
  margin-bottom: 10px;
}

.my-users .delete-button {
  margin-left: 10px;
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.my-users .delete-button:hover {
  background-color: #e60000;
}
