@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner div {
  position: absolute;
  animation: spin 750ms linear infinite;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #ff0011;
  transform-origin: 30px 32px;
}
